<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.mapper.PaymentMapper">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial})
    </insert>


<!--    解释为什么select使用resultMap,实际项目开发中一张表可能有非常多个字段column,这些这段的可能带有特殊符号,     -->
<!--    这些字段或许不符合属性的java命名规则比如特殊符合开头,或者表的设计者字段的命名习惯和开发人员属性命名习惯不同,对此-->
<!--    则可以用键值对的方式映射 column 对应的 property   —— > 尚硅谷的老师建议使用该方式                      -->
    <resultMap id="BaseResultMap" type="com.hc.entity.Payment">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <id column="serial" property="serial" jdbcType="VARCHAR"></id>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id = #{id}
    </select>
</mapper>
